#root{
    --color-black: #fbfcfc;
    --color-white: #5d6d7e;
}

.App{
    display: grid;
    grid-template-columns: repeat(2, 25% 1fr);
    min-height: 100vh;
}

.sidebar{
    grid-column: 1/2;
    height: 100%;
}
.content{
    grid-column: 2/5;
}

@media  (max-width: 920px){
    .sidebar{
        grid-column: 1/5;
    }
    .content{
        grid-column: 1/5;
    }

}